<div class="skills" id="skills">
    <h4 class="skills_title">HABILIDADES</h4>
    <div class="skills_container">
        <img class="img" alt="html" style="fill:white;"
            src="../../../../assets/img/html.svg" />
        <img class="img" alt="css" style="fill:white;"
            src="../../../../assets/img/css.svg" />
        <img class="img" alt="javascript" style="fill:white;"
            src="../../../../assets/img/Javascript.svg" />
        <img class="img" alt="html" style="fill:white;"
            src="../../../../assets/img/angular.svg" />
        <img class="img" alt="react" style="fill:white;"
            src="../../../../assets/img/react.svg" />

        <img class="img" alt="nodejs" style="fill:white;"
            src="../../../../assets/img/node.svg" />
        <img class="img" alt="mongodb" style="fill:white;"
            src="../../../../assets/img/mongodb.svg" />
        <img class="img" alt="mysql" style="fill:white;"
            src="../../../../assets/img/mysql.svg" />
        <img class="img" alt="git" style="fill:white;"
            src="../../../../assets/img/git.svg" />

    </div>
</div>

<mat-grid-list cols="2" rowHeight="3:1">
    <h1 class="h1t"> portafolio</h1>
    <mat-divider></mat-divider>
    <mat-grid-tile>
        <p>Tienda online Working Dog </p>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-raised-button color="primary"
            href="https://github.com/Farius-red/WorkingDOGADC" target="_blank"
            rel="noopener noreferrer">Ver Codigo</a>

    </mat-grid-tile>
    <mat-divider></mat-divider>

    <mat-grid-tile>
        <p>Backend juego  </p>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-raised-button color="primary"
            href="https://github.com/Farius-red/BackJuego" target="_blank"
            rel="noopener noreferrer">Ver Codigo</a>

    </mat-grid-tile>
<mat-divider></mat-divider>

    <mat-grid-tile>
        <p>Mas Trabajos </p>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-raised-button color="primary"
            href="https://github.com/Farius-red?tab=repositories" target="_blank"
            rel="noopener noreferrer">Ver Codigo</a>

    </mat-grid-tile>

</mat-grid-list>