<div class = "curva"> 
  <h1>Desarrollador web
  </h1>
  <p>Angular, node , javaScript </p>
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L48,224C96,192,192,128,288,122.7C384,117,480,171,576,165.3C672,160,768,96,864,85.3C960,75,1056,117,1152,122.7C1248,128,1344,96,1392,80L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>


<div class="sobreMi">
<h1>Sobre mi</h1>

<a style="margin-top: 5%;" mat-raised-button color="primary" href="https://www.google.com/" target="_blank">Escribir </a>

<p>Soy una persona responsable, muy amable , con capacidad de liderazgo ,  amante del desarrollo web , de las nuevas tecnologías y del aprendizaje constante .
    Estoy  capacitado para elaborar trabajos en el campo de desarrollo tanto como front y en el back </p>
</div>
<mat-divider class="divider"></mat-divider>

<portafolio></portafolio>